    #zoneContainer{

    }

    .zoneCompressed {
        background: lightblue;
        padding: 5px;
        border-radius: 8px;
        cursor: pointer;
        margin-bottom: 8px;
    }

    .zoneName {
        display: block;
        margin-top: 2px;
    }

    .deskCompressedContainer {

    }

    .deskExpanded {
        height: 50px;
        width: 300px;
        background: red;
        margin-bottom: 10px;
        border-radius: 6px;
    }
    .deskCompressed {
        height: 16px;
        background: blue;
        border-radius: 6px;
        margin-right: 5px;
        width: 30px;
        display: inline-block;
    }